<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.from %></td>
        <td><%= message.to %></td>
        <td><%= message.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

